 /* font-family: 'Heebo', sans-serif;  */
 body {
    font-family: 'Heebo', sans-serif;

 }

 * {
    box-sizing: border-box;
 }

 .blog-line {
    width: 681px;
    margin: 0;
    margin-top: 30px;
 }

 header {
    max-width: 1152px;
    padding-top: 25px;
 }

 .navigation {
    display: flex;
    justify-content: flex-end;
 }

 .header-links {
    margin: 0 30px 0 0;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    font-weight: medium;
    cursor: pointer;
 }

 .header-links:hover {
    color: #FF6464;
    cursor: pointer;
 }

 main {
    margin-top: 150px;
    margin-bottom: 70px;
 }

 .main-block {
    display: flex;
    justify-content: space-between;
 }

 .main-left {
    margin-left: 150px;
 }

 .main-topic {
    max-width: 506px;
    font-weight: bold;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
 }

 .main-items {
    max-width: 497px;
    max-height: 66px;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #21243D;
 }

 .main-btn {
    margin-left: 15px;
    width: 208px;
    height: 47px;
    margin-top: 60px;
    background: #FF6464;
    border-radius: 2px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    border: none;
    cursor: pointer;
    line-height: 29px;
    color: #FFFFFF;
 }

 .main-right {
    margin-right: 150px;
 }

 .recent-post {
    width: 100%;
    height: 480px;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 48px;
    padding-left: 48px;
    background: #EDF7FA;
 }

 .resent-post-header {
    display: flex;
    justify-content: space-between;
 }

 .recent-post-left-topic {
    font-weight: normal;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
 }

 .recent-post-right-topic {
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    text-decoration: none;
    cursor: pointer;
    color: #00A8CC;
 }

 .recent-post-block {
    display: flex;
    justify-content: space-between;
    width: 100%;
 }

 .recent-post-left {
    width: 100%;
    height: 380px;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    padding-right: 5px;
    padding-left: 5px;
    margin-right: 10px;
 }

 .recent-post-left-text {
    width: 100%;
    height: 85px;
    font-weight: bold;
    font-size: 26px;
    line-height: 38px;
    color: #21243D;
 }

 .date {
    display: flex;
    justify-content: space-between;
    max-width: 280px;
 }

 .recent-post-item {
    width: 100%;
    height: 400px;
    margin-top: 15px;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #21243D;
 }

 .recent-post-right {
    width: 100%;
    height: 380px;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
    border-radius: 4px;
    padding-right: 5px;
    padding-left: 5px;
 }

 .featured-work {
    padding-top: 30px;
    padding-bottom: 40px;
    padding-left: 148px;
 }

 .featured-work-post {
    font-weight: normal;
    font-size: 22px;
    line-height: 60px;
    color: #21243D;
 }

 .featured-work-block {
    margin-top: 30px;
    display: flex;
    /* justify-content: space-between; */
    max-width: 860px;
    min-height: 205px;
 }

 .featured-work-left {
    width: 246px;
    height: 180px;
    border-radius: 6px;
 }

 .featured-work-right {
    margin-left: 18px;
 }

 .featured-work-right-text {
    width: 365px;
    height: 44px;
    font-weight: bold;
    font-size: 30px;
    line-height: 44px;
    color: #21243D;
 }

 .year-block {
    display: flex;
    justify-content: space-between;
    width: 200px;
 }

 .year {
    width: 62px;
    height: 25px;
    background: #142850;
    border-radius: 16px;
    color: #FFFFFF;
    font-weight: 900;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
 }

 .year-text {
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #8695A4;
 }

 .featured-work-item {
    width: 595px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #21243D;
 }

 .home-line {
    margin: 0;
    width: 858px;
 }

 footer {
    padding-top: 50px;
    padding-bottom: 50px;
 }

 .footer-links {
    margin-right: 35px;
    display: flex;
    justify-content: center;

 }

 .footer-links>a {
    margin-left: 35px;
    cursor: pointer;
 }

 .copyright {
    display: flex;
    justify-content: center;
    margin-top: 25px;

 }

 /* BLOG */

 .blog {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 235px;
 }

 .blog-topik {
    font-weight: bold;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
 }

 .block-blog {
    margin-top: 50px;
    margin-bottom: 50px;
 }

 .blog-text {
    margin: 0;
    width: 401px;
    height: 33px;
    font-weight: 700;
    font-size: 30px;
    line-height: 20px;
    color: #21243D;
 }

 .blog-light-text {
    /* width: 203px;
    height: 34px; */
    font-weight: normal;
    font-size: 20px;
    line-height: 12px;
    color: #8695A4;
 }

 .blog-item {
    width: 630px;
    height: 43px;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #21243D;
 }

 /* WORKS */

 .works {
    margin-top: 70px;
    margin-bottom: 30px;
    margin-left: 235px;
    margin-right: 235px;
 }

 .works-topic {
    width: 506px;
    height: 100px;
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 50px;
    color: #21243D;
 }

 .date-works {
    display: flex;
    justify-content: space-between;
    width: 400px;
 }

 .year-works {
    width: 62px;
    height: 25px;
    background: #FF7C7C;
    border-radius: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
 }

 .position {
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    color: #21243D;
 }

 .works-item {
    margin-top: 25px;
    width: 681px;
    height: 44px;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #000000;
 }

 .works-img-1 {
    margin-top: 25px;
    margin-bottom: 45px;
    width: 100%;
 }

 .topik-2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 60px;
    color: #21243D;
 }

 .topik-3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 60px;
    color: #21243D;
 }


 /* CONTACT */

 .contact-inf {
    width: 900px;
    margin-top: 140px;
    margin-bottom: 30px;
    margin-left: 235px;
    margin-right: 235px;
 }

 .contact-block {
    width: 100%;
    display: flex;

 }

 .contact-topic {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 50px;
    color: #21243D;
 }

 .contact-item {
    margin-top: 25px;
    width: 450px;
    height: 44px;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #000000;
 }

 .form {
    display: flex;
    flex-direction: column;
 }

 .form-name {
    margin-top: 20px;
    width: 400px;
    height: 40px;
    padding-left: 10px;
 }

 .form-email {
    margin-top: 20px;
    width: 400px;
    height: 40px;
    padding-left: 10px;
 }

 .form-message {
    margin-top: 20px;
    width: 400px;
    height: 240px;
    padding-left: 10px;
    padding-top: 20px;
    resize: none;
 }

 .form-btn {
    margin-top: 40px;
    width: 208px;
    height: 47px;
    background: #FF6464;
    border-radius: 2px;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
 }

 .contact-right {
    margin-top: 50px;
    margin-left: 170px;
 }

 .contact-link {
    cursor: pointer;
    text-decoration: none;
    color: #FF6464;
    cursor: pointer;
 }

 .contact-item-4 {
    margin-top: 30px;
    font-weight: bold;
    font-size: 18px;
 }

 .contact-item-6 {
    margin-top: 30px;
    font-weight: bold;
    font-size: 18px;
 }

 .map-contact {
    margin-top: 50px;
    margin-bottom: 50px;
 }


 /* WORKS-PART-2 */

 .works-part-2 {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 235px;
    margin-right: 235px;
 }

 .works-part-2-topic {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: 44px;
    line-height: 60px;
    color: #21243D;
 }

 .works-part-2-block {
    display: flex;
    justify-content: space-between;
    width: 685px;
    height: 205px;
    margin-bottom: 35px;
 }

 .work-part-2-img {
    width: 246px;
    height: 180px;
 }

 .works-part-2-right {
    margin-left: 18px;
    position: relative;
 }

 .works-part-2-header {
    margin: 0;
    margin-bottom: 16px;
    font-weight: bold;
    font-size: 30px;
    line-height: 24px;
    color: #21243D;
 }

 .works-part-2-block-right {
    width: 185px;
    height: 20px;
    margin-top: 30px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
 }

 .works-part-2-block-right-4 {
    width: 275px;
    height: 20px;
    margin-top: 30px;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
 }

 .works-part-2-year {
    width: 62px;
    height: 25px;
    background: #142850;
    border-radius: 16px;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #FFFFFF;
 }

 .works-part-2-position {
    font-weight: normal;
    font-size: 20px;
    line-height: 29px;
    color: #8695A4;
 }

 .works-part-2-item {
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #21243D;
 }

 .works-part-2-line {
    margin-bottom: 35px;
 }

 /* SLIDER */

 .slider-container {
    width: 700px;
    height: 460px;
    font-size: 50px;
    line-height: 400px;
    color: #0f0a0a;
    text-align: center;
 }

 .slick-prev {
    left: -75px;
 }

 .slick-prev:before {
    font-size: 50px;
    color: #000;
    background-color: #FFFFFF;
 }


 .slick-next::before {
    font-size: 50px;
    color: #000;
    background-color: #FFFFFF;
 }


 .slick-dots {
    top: 270px;
 }


 /* MODAL */


 .modal {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
 }

 .modal-block {
    width: 30%;
    height: 30%;
    margin: 30vh auto;
    position: relative;
    border: 1px solid grey;
    background-color: #fff;
    padding: 15px;

 }

 .hide {
    display: none;
 }

 .show {
    display: block;
 }

 .btn-close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
 }

 .btn-close:hover {
    color: #FF6464;
 }

 .modal-text {
    font-weight: bold;
    font-size: 22px;
    line-height: 24px;
    color: #21243D;
 }

 .modal-form {
    width: 240px;
    height: 25px;
    margin-bottom: 10px;
    padding-left: 10px;
    border-radius: 5px;
 }

 .modal-btn-send {
    width: 140px;
    height: 35px;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;
    background: #FF6464;
    color: #fff;
    border: none;
    text-transform: uppercase;
 }



 /* LIKES */


 .favorite-icon {
    width: 38px;
    height: 30px;
    border: 1px solid #2c71b8;
    background-image: url(../icons/heart-black.png);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    position: absolute;
    right: 9px;
    top: 49px;
    border: none;
 }

 .favorite-icon:hover,
 .liked {
    background-image: url(../icons/heart-red.png);
    /* background-color: rgb(44, 113, 184); */

    border: none;
 }



 /* TABS */

 .tabs-block {
    background-color: gray;
    max-width: 650px;
 }

 .tab-title-items {
    max-width: 650px;
    background-color: gray;
    display: flex;
    padding: 15px;
 }

 .tab-title-item {
    border: 2px solid black;
    color: white;
    font-weight: bold;
    width: 100px;
    height: 30px;
    margin: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .tab-active {
    background-color: #FF6464;
    ;
 }

 .tab-content>h2 {
    max-width: 350px;
    padding: 10px;
    font-weight: bold;
    font-size: 34px;
    color: #0c0000;
    background-color: rgb(230, 166, 166);
 }

 .tab-content>p {
    max-width: 650px;
    padding: 10px;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: white;

 }

 @media (max-width:768px) {
    header {
       max-width: 768px;
    }

    .header-links {
       font-size: 18px;
    }

    .main-left {
       margin-left: 25px;
    }

    .main-topic {
       font-size: 30px;
       line-height: 35px;
    }

    .main-items {
       max-width: 320px;
       max-height: 91px;
    }

    .btn-header {
       max-width: 460px;

    }

    .main-btn {
       width: 165px;
       height: 50px;
       margin-left: 0;
       font-weight: 400;
       font-size: 18px;
       line-height: 20px;
    }

    .main-btn:last-child {
       margin-left: 10px;
    }

    .main-right {
       margin-right: 25px;
    }

    .recent-post {
       max-width: 768px;
       padding-right: 20px;
       padding-left: 20px;
    }

    .recent-post-right-topic {
       display: flex;
       align-items: center;
    }

    .recent-post-block {
       max-width: 768px;
    }

    .recent-post-left {
       width: 290px;
    }

    .recent-post-left-text {
       width: 270px;
       line-height: 30px;
    }

    .recent-post-item {
       width: 270px;
    }

    .recent-post-right {
       width: 290px;
    }

    .featured-work {
       max-width: 768px;
       padding-left: 25px;
    }

    .featured-work-block {
       max-width: 768px;
    }

    .featured-work-right-text {
       margin-top: 0;
       padding-top: 0;
       width: 305px;
       font-weight: bold;
       font-size: 24px;

    }

    .featured-work-item {
       width: 335px;
    }

    .home-line {
       width: 700px;
    }

    .works {
       margin-left: 25px;
       margin-right: 25px;
    }

    .works-topic {
       width: 406px;
       height: 100px;
       font-style: normal;
       font-weight: bold;
       font-size: 34px;
       line-height: 38px;
    }

    .date-works {
       widows: 300px;
    }

    .works-item {
       width: 440px;
       height: 70px;
    }

    .works-img-1 {
       width: 65%;
    }

    .slider-container {
       width: 500px;
       height: 360px;
       margin: 0 auto;
       font-size: 50px;
       line-height: 400px;
       color: #0f0a0a;
       text-align: center;
    }

    .works-part-2 {
       margin-top: 190px;
       margin-left: 25px;
       margin-right: 25px;
    }

    .blog {
       margin-left: 25px;
    }

    .contact-inf {
       width: 100%;
       margin-right: 0px;
       margin-left: 0px;
       padding-left: 15px;
       padding-right: 15px;
    }

    .contact-block {
       width: 750px;
    }

    .contact-left {
       max-width: 350px;
    }

    .contact-item {
       max-width: 350px;
    }

    .form-name {
       max-width: 320px;

    }

    .form-email {
       max-width: 320px;
    }

    .form-message {
       max-width: 320px;
       max-height: 150px;
    }

    .form-btn {
       margin-top: 20px;
       width: 160px;
    }

    .contact-right {
       margin-left: 50px;
    }

    .contact-form-2 {
       margin-top: 50px;
    }

    .contact-item-5 {
       max-width: 350px;
    }

    .modal-block {
       width: 40%;
       height: 50%;
    }
 }

 @media(max-width:425px) {
    body {
       width: 425px;
       margin: 0 auto;
    }

    header {
       padding-top: 1px;
    }

    .nav-mobile-menu {
       width: 15px;
       height: 15px;
       margin-top: 10px;
       margin-left: 385px;

       position: relative;
    }

    .nav-mobile-menu span {
       height: 4px;
       background-color: #FF6464;
       position: absolute;
       left: 0;
       right: 0;
       transition: all 0.25s;
       z-index: 201;
    }

    .nav-mobile-menu span:nth-child(1) {
       top: 14px;
    }

    .nav-mobile-menu span:nth-child(2) {
       top: 7px;
    }

    .nav-mobile-menu span:nth-child(3) {
       bottom: 11px;
    }

    .hidden-menu {
       opacity: 0;
       visibility: hidden;
    }

    .nav-menu {
       position: fixed;
       z-index: 200;
    }

    .navigation {
       padding-top: 0;
       width: 100%;
       position: fixed;
       transform: translate(ty, 150%);
       transition: all 0.10s ease-in-out;
    }

    .nav-mobile-menu.active-menu span:nth-child(1) {
       top: 7px;
       transform: rotate(45deg);
    }

    .nav-mobile-menu.active-menu span:nth-child(2) {
       transform: rotate(-45deg);
    }

    .nav-mobile-menu.active-menu span:nth-child(3) {
       bottom: 3px;
       transform: scale(0);
    }

    .navigation.active-menu {
       width: 100%;
       opacity: 1;
       visibility: visible;
       transform: translate(ty, 0);
       background-color: #000;
       z-index: 100;
       top: 0px;
    }

    .header-link {
       width: 100%;
       justify-content: space-between;
       display: flex;
       align-items: center;
    }

    .header-link a {
       display: block;
       margin-top: 20px;
       list-style: none;
       text-decoration: none;
       color: white;
       text-align: center;
    }

    .header-link a:hover {
       color: silver;
    }

    main {
       width: 100%;
       padding-left: 5px;
       padding-right: 5px;
    }

    .main-block {
       width: 100%;
    }

    .main-left {
       width: 100%;
    }

    .main-topic {
       width: 100%;
       font-size: 24px;
       line-height: 28px;
    }

    .main-items {
       width: 100%;
       min-height: 131px;
       font-size: 14px;
       line-height: 20px;
       margin-bottom: 50px;
    }

    .btn-header {
       display: flex;
       flex-direction: column;
       height: 240px;
    }

    .main-right {
       width: 100%;
       margin-right: 0px;
    }

    .main-btn {
       margin-top: 20px;
    }

    .main-btn:last-child {
       margin-left: 0;
    }

    .main-img {
       width: 100%;
    }

    .recent-post {
       width: 100%;
       height: 910px;
       padding-right: 10px;
       padding-left: 10px;
       margin-bottom: 40px;
    }

    .resent-post-header {
       max-width: 100%;

    }

    .recent-post-block {
       width: 100%;
       display: flex;
       flex-direction: column;
    }

    .recent-post-left {
       width: 100%;
       height: 400px;
       margin: 0 auto;
       margin-bottom: 20px;
       margin-left: 0px;
       margin-right: 0px;
    }

    .recent-post-right {
       width: 100%;
       height: 400px;
       margin: 0 auto;
       margin-bottom: 20px;
       margin-left: 0px;
       margin-right: 0px;
    }

    .recent-post-left-text {
       width: 100%;
    }

    .recent-post-item {
       width: 100%;
       height: 150px;
    }

    .featured-work {
       padding-left: 5px;
       padding-right: 5px;
    }

    .featured-work-block {
       display: flex;
       flex-direction: column;
    }

    .featured-work-post {
       margin-left: 10px;
    }

    .featured-work-left {
       margin: 0 auto;
    }

    .featured-work-right-text {
       margin-top: 20px;
    }

    .home-line {
       max-width: 95%;
    }

    .works {
       width: 100%;
       padding-left: 10px;
       padding-right: 10px;
       margin-left: 0px;
       margin-right: 0px;
       margin-top: 100px;
    }

    .works-topic {
       width: 100%;
       margin-top: 100px;
       font-size: 30px;
       line-height: 32px;
    }

    .works-item {
       width: 100%;
       height: 70px;
    }

    .works-img-1 {
       width: 100%;
    }

    .slider-container {
       display: none;
    }

    .works-part-2 {
       width: 100%;
       margin-left: 0px;
       margin-right: 0px;
       padding-left: 5px;
       padding-right: 5px;
    }

    .works-part-2-topic {
       font-size: 34px;
       line-height: 30px;
    }

    .works-part-2-block {
       display: flex;
       flex-direction: column;
       width: 100%;
       height: 380px;
    }

    .works-part-2-left {
       width: 100%;
    }

    .works-part-2-right {
       margin-left: 0;
    }

    .work-part-2-img {
       display: block;
       margin: 0 auto;

    }

    .works-part-2-header {
       width: 100%;
       font-size: 28px;
       margin-top: 20px;
    }

    .works-part-2-block-right {
       width: 60%;
       height: 25px;
    }

    .works-part-2-item {
       width: 100%;
    }

    .works-part-2-line {
       width: 95%;
    }

    .blog {
       margin-left: 0px;
       margin-right: 0px;
       margin-top: 100px;
       padding-left: 5px;
       padding-right: 5px;
    }

    .blog-topik {
       width: 100%;
       font-size: 34px;
       font-weight: 700;
       line-height: 32px;
    }

    .block-blog {
       width: 100%;
    }

    .blog-text {
       font-weight: bold;
       font-size: 26px;
    }

    .date {
       max-width: 315px;
    }

    .blog-item {
       width: 100%;
       height: 90px;
       line-height: 21px;

    }

    .blog-line {
       width: 95%;
    }

    .tabs-block {
       width: 100%;
    }

    .tab-title-item {
       font-size: 14px;
    }

    .tab-title-item:nth-child(2) {
       padding: 0 5px;
    }

    .tab-title-item:nth-child(3) {
       padding: 0 5px;
    }

    .contact-inf {
       margin-top: 100px;
       margin-left: 0px;
       margin-right: 0px;
    }

    .contact-block {
       display: flex;
       flex-direction: column;
       width: 100%;
    }

    .contact-right {
       margin: 50px 0;
    }

    .modal-block {
       width: 70%;
       height: 50%;
    }
 }

 @media(max-width:375px) {
    body {
       width: 375px;
       margin: 0 auto;
    }

    main {
       width: 100%;
    }

    .nav-mobile-menu {
       margin-left: 340px;
       padding-left: 5px;
       padding-right: 5px;
    }

    .navigation.active-menu {
       width: 100%;
    }

    .featured-work {
       padding-left: 10px;
       padding-right: 10px;
    }

    .home-line {
       width: 90%;
    }

    .resent-post-header {
       width: 100%;
    }

    .recent-post-left {
       width: 100%;
       height: 400px;
    }

    .recent-post-left-topic {
       margin-left: 5px;
    }

    .recent-post-right {
       width: 100%;
       height: 400px;
    }

    .featured-work {
       width: 100%;
    }

    .featured-work-post {
       margin: 0;
    }

    .featured-work-block {
       width: 100%;
    }

    .featured-work-left {
       width: 100%;
       text-align: center;
    }

    .featured-work-right {
       width: 100%;
       margin-left: 0px;
       padding-left: 5px;
       padding-right: 5px;
    }

    .featured-work-right-text {
       width: 90%;
    }

    .works {
       margin-left: 0px;
       margin-right: 0px;
       margin-top: 100px;
       padding-left: 5px;
       padding-right: 5px;
    }

    .date-works {
       width: 350px;
    }

    .position {
       font-size: 18px;
       line-height: 27px;
    }

    .works-part-2-block {
       width: 100%;
    }

    .works-part-2-header {
       margin-top: 10px;
    }

    .works-part-2-left {
       width: 100%;
    }

    .works-item {
       width: 100%;
       height: 90px;
    }

    .works-part-2-right {
       width: 100%;
    }

    .works-part-2-item {
       width: 100%;
       height: 90px;
    }

    .works-part-2-line {
       width: 95%;
       margin-bottom: 30px;
       margin-top: 50px;
    }

    .work-part-2-img {
       margin-bottom: 30px;
    }

    .blog {
       margin-left: 0px;
       margin-right: 0px;
       margin-top: 100px;
       padding-left: 5px;
       padding-right: 5px;
    }

    .blog-topik {
       width: 90%;
       font-size: 28px;
    }

    .block-blog {
       width: 100%;
    }

    .blog-text {
       width: 100%;
       font-size: 22px;
    }

    .blog-item {
       width: 100%;
       height: 90px;
    }

    .blog-line {
       width: 95%;
    }

    .tabs-block {
       width: 100%;
    }

    .tab-title-items {
       width: 100%;
       padding-left: 5px;
       padding-right: 5px;
    }

    .tab-content>h2 {
       font-size: 28px;
    }

    .tab-title-item {
       width: 23.5%;
       font-size: 12px;
    }

    .tab-title-item:nth-child(2) {
       width: 21.5%;
    }

    .tab-title-item:nth-child(3) {
       width: 21.5%;
    }

    .contact-inf {
       margin-left: 0px;
       margin-right: 0px;
       margin-top: 100px;
       padding-left: 5px;
       padding-right: 5px;
    }

    .contact-block {
       width: 100%;
    }

    .modal-block {
       width: 80%;
       height: 50%;
    }
 }

 @media(max-width:320px) {
    body {
       width: 320px;
       margin: 0 auto;
    }

    .nav-menu {
       width: 320px;
    }

    .navigation {
       width: 320px;
    }

    .active-menu {
       position: fixed;
       padding-left: 0px;
       right: 0px;
       max-width: 320px;
       max-height: 70px;
       left: 0px;
       top: 0px;
       bottom: 0px;

    }

    .header-link {
       width: 100%;
       padding-left: 20px;
       justify-content: center;
    }

    .nav-mobile-menu {
       width: 15px;
       margin-left: 290px;
       top: 0px;
       z-index: 201;
    }

    .main-block {
       width: 100%;
    }

    .main-left {
       width: 100%;
    }

    .main-items {
       min-height: 160px;
       margin-bottom: 20px;
    }

    .btn-header {
       height: 140px;
    }

    .main-right {
       width: 100%;
       margin-right: 2px;
    }

    .main-btn {
       width: 135px;
       height: 40px;
       margin-left: 0;
       font-weight: 400;
       font-size: 14px;
       line-height: 20px;
    }

    .main-btn:last-child {
       width: 135px;
       height: 40px;
       font-size: 14px;
    }

    .resent-post-header {
       width: 100%;
    }

    .recent-post-right-topic {
       margin-right: 5px;
    }

    .recent-post-left {
       width: 100%;
       height: 400px;
       padding-left: 5px;
       padding-right: 5px;
       padding-top: 0px;
       margin-bottom: 10px;
       margin-left: 5px;
       margin-right: 5px;
    }

    .date {
       width: 100%;
    }

    .recent-post-right {
       width: 100%;
       height: 400px;
       padding-left: 5px;
       padding-right: 5px;
       padding-top: 0px;
       padding-bottom: 0;
       margin-bottom: 10px;
       margin-left: 5px;
       margin-right: 5px;
    }

    .featured-work {
       width: 100%;
       padding-top: 0;
       padding-left: 10px;
       padding-right: 10px;
    }

    .featured-work-post {
       width: 100%;
    }

    .featured-work-block {
       width: 100%;
    }

    .featured-work-left {
       width: 100%;
       text-align: center;
    }

    .featured-work-right {
       width: 100%;
       margin-left: 0px;
    }

    .featured-work-right-text {
       width: 100%;
       line-height: 27px;
    }

    .year-block {
       width: 80%;
    }

    .featured-work-item {
       width: 100%;
    }

    .home-line {
       width: 90%;
    }

    .show {
       width: 100%;
    }

    .modal-block {
       width: 90%;
       height: 260px;
    }

    .works {
       width: 100%;
       margin-top: 130px;
       margin-right: 0px;
       margin-left: 0px;
       padding-left: 5px;
       padding-right: 5px;
    }

    .works-topic {
       width: 100%;
       padding-left: 10px;
       padding-right: 10px;
       font-size: 26px;
    }

    .date-works {
       width: 95%;
    }

    .works-item {
       width: 100%;
    }

    .topik-2 {
       width: 100%;
    }

    .position {
       font-size: 14px;
       line-height: 27px;
    }

    .works-item {
       height: 115px;
    }

    .works-part-2 {
       width: 100%;
       margin-left: 0px;
       margin-right: 0px;
       padding-right: 5px;
       padding-left: 5px;
    }

    .works-part-2-block {
       width: 100%;
       height: 420px;
    }

    .works-part-2-left {
       width: 100%;
    }

    .works-part-2-header {
       width: 100%;
       height: 30px;
       font-size: 22px;
    }

    .works-part-2-right {
       width: 100%;
    }

    .works-part-2-item {
       width: 100%;
       height: 120px;
    }

    .works-part-2-line {
       width: 90%;
    }

    .copyright {
       width: 100%;
    }

    .favorite-icon {
       top: 35px;
    }

    .blog {
       margin-left: 0px;
       margin-right: 0px;
       margin-top: 100px;
       padding-left: 5px;
       padding-right: 5px;
    }

    .blog-text {
       width: 100%;
    }

    .date {
       width: 90%;
    }

    .blog-item {
       width: 100%;
       height: 110px;
    }

    .blog-line {
       width: 90%;
       padding-left: 10px;
       padding-right: 10px;
    }

    .tabs-block {
       width: 100%;
    }

    .tab-title-items {
       width: 100%;
       flex-direction: column;
       height: 210px;
    }

    .tab-content>h2 {
       width: 100%;
       margin-top: 0;
    }

    .tab-content>p {
       width: 100%;
       font-size: 14px;
       margin-top: 0px;
       padding-top: 0px;
    }

    .tab-title-item {
       width: 36.5%;
       margin-top: 0px;
       margin-left: 0px;
       margin-right: 0px;
       margin-bottom: 10px;
    }

    .tab-title-item:nth-child(2) {
       width: 36.5%;
    }

    .tab-title-item:nth-child(3) {
       width: 36.5%;
    }

    .contact-topic {
       width: 235px;
       margin-top: 50px;
    }

    .contact-inf {
       margin-left: 0px;
       margin-right: 0px;
       margin-top: 100px;
       padding-left: 5px;
       padding-right: 5px;

    }

    .contact-item {
       width: 100%;
    }

    .contact-block {
       width: 100%;
    }

    .contact-left {
       width: 100%;
    }

    .form {
       width: 100%;
    }

    .form-name {
       width: 80%;
    }

    .form-email {
       width: 80%;
    }

    .form-message {
       width: 80%;
       height: 75px;
    }

    .form-btn {
       width: 40%;
       height: 37px;
    }

    .modal-block {
       width: 90%;
       height: 50%;

    }
 }